<style type="text/css">
  #panel-border {
    margin-bottom: 24px;
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
    margin-left: 20px;
  }
</style>

<!-- body tag -->
<!--<div class="with-new-header has-epcot-header touch">-->
<div class="container" style="margin-top: 30px;min-height: 450px;">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm">
      <div id="user" class="space-4 ">
        <div>
          <div class="space-2" id="user-media-container">
            <div id="slideshow" class="slideshow" style="height: 223px;position: relative;">
              <div class="slideshow-preload"></div>
              <ul class="slideshow-images">
                <li class="active media-photo media-photo-block">
                  <img alt="Nishank" style="height: 100%;" class="img-responsive" height="225" ngf-src="profileImage" title="Nishank" width="225">
                </li>
                <li class="media-photo media-photo-block"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="panel space-4">
        <div class="panel-header">
          Verified info
        </div>
        <div class="panel-body">
          <ul class="list-unstyled space-3">
            No verifications yet
          </ul>

          <a href="https://www.airbnb.com/users/edit_verification/104718448">
                Add Verifications
            </a>
        </div>
      </div>


    </div>
    <div class="col-lg-9 col-md-8 hide-sm">
      <div class="col-sm-8 col-md-12 col-lg-12">
        <h1>
          Hey, I’m {{user_info.firstname}} !
        </h1>
        <div class="h5 space-top-2">
          <span class="text-normal">
              Member since {{month}} {{year}}
            </span>
        </div>
        <div class="text-muted space-top-2">
          <div data-hypernova-key="user_flag_controlbundlejs">
            <div data-reactid=".4i7xugmccg" data-react-checksum="-1748003887">
              <div class="flag-widget" data-reactid=".4i7xugmccg.1">
                <a href="#" class="link-reset" title="Report this user" data-prevent-default="true" data-reactid=".4i7xugmccg.1.0"><i class="icon icon-flag h4" data-reactid=".4i7xugmccg.1.0.0"></i><span data-reactid=".4i7xugmccg.1.0.1"> </span>
                  <span
                    data-reactid=".4i7xugmccg.1.0.2">Report this user</span>
                </a>
              </div>
              <noscript data-reactid=".4i7xugmccg.2"></noscript>
            </div>
          </div>
        </div>
        <div class="edit_profile_container space-3">
          <a href="#" ui-sref="users.edit">Edit Profile</a></div>
      </div>
    </div>

  </div>
</div>
  <!--</div>
  </body>
</html>-->