<style type="text/css">
    #panel-border {
        margin-bottom: 24px;
        border: 1px solid #dce0e0;
        background-color: #fff;
        border-radius: 0;
        margin-left: 20px;
    }
    
    .panel-body {
        border-top: none !important;
    }
</style>
<div ng-controller="listingController">
    <div class="panel space-4">
        <div class="panel-header">Property Requests</div>
        <br>
        <div class="panel-body photos-section">
            <h5 style="margin-left: 20px;font-weight: normal;" ng-hide="requestedPropertyList.length>0">No property requests.</h5>
            <ul class="list-unstyled list-layout">
                <li class="listing panel-body" ng-repeat="propertyRequests in requestedPropertyList">
                    <h3>{{propertyRequests.title}}</h3>
                    User name: {{propertyRequests.user_name}}
                    <br>Location: {{propertyRequests.address}}<br> {{propertyRequests.city+" "+propertyRequests.state+" "+propertyRequests.zipcode}}
                    <br>Number of guests requested: {{propertyRequests.quantity}}
                    <br>From: {{propertyRequests.fromdate.split("T")[0]}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    To: {{propertyRequests.todate.split("T")[0]}}
                    <br>Price: {{propertyRequests.price}}
                    <br><br>
                    <button type="button" id="btn-save" class="btn btn-primary btn-large" ng-click="acceptPropertyRequest(propertyRequests.tripid)">Accept</button>
                    <button type="button" class="btn btn-default-white-border btn-large" ng-click="declinePropertyRequest(propertyRequests.tripid)" style="margin-left:20px">Decline
                    </button>
                </li>
            </ul>
        </div>
        <br>

    </div>
    <div class="panel space-4">
        <div class="panel-header">Property Accepted</div>
        <br>
        <div class="panel-body photos-section">
            <h5 style="margin-left: 20px;font-weight: normal;" ng-hide="acceptedPropertyList.length>0">No Property Listed. <br><br> Please click on "Add New Listings" to list your property.</h5>
            <ul class="list-unstyled list-layout">
                <li class="listing panel-body" ng-repeat="propertyRequests in acceptedPropertyList">
                    <h3>{{propertyRequests.title}}</h3>
                    <br>User name: {{propertyRequests.user_name}}
                    <br>Location: {{propertyRequests.address}}<br> {{propertyRequests.city+" "+propertyRequests.state+" "+propertyRequests.zipcode}}
                    <br>Number of guests: {{propertyRequests.quantity}}
                    <br>From: {{propertyRequests.fromdate.split("T")[0]}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    To: {{propertyRequests.todate.split("T")[0]}}
                    <br>Price: {{propertyRequests.price}}

                </li>
            </ul>


        </div>
        <br>

    </div>
</div>