<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<link rel="stylesheet" href="../../public/css/airbnb.css">-->
    <!--<link rel="stylesheet" href="../../public/css/airbnb2.css">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
    <div class="page-container-responsive space-top-4 space-4" ng-controller="tripController">
        <div class="row">

            <div class="col-md-4 space-sm-3">
                <div id="map" style="width: 445px; height: 500px;"></div>
            </div>

            <div class="col-md-offset-2 col-md-6">
                <div class="suspension-container">
                    <div class="panel space-4">
                        <div class="panel-header active-panel-header">
                            <div class="active-panel-padding">Here's your upcoming trip</div>
                        </div>
                        <ul class="list-unstyled list-layout">
                            <li class="listing panel-body">
                                <div class="row row-table">
                                    <div class="col-lg-10">
                                        <span class="h4">
                                            <span style="font-weight: bold; font-size: larger">{{property.title}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row row-table space-top-1">
                                    <div class="text-grey col-lg-2 col-md-2">
                                        <span style="font-weight: bold">Location:</span>
                                    </div>
                                    <div class="text-grey last-modified-date col-lg-8 col-lg-offset-2 col-md-offset-2">
                                        <span>{{property.address}}, {{property.city}} {{property.state}}-{{property.zipcode}}</span>
                                    </div>
                                </div>
                                <div class="row row-table space-top-1">
                                    <div class="text-grey col-lg-4 col-md-4">
                                        <span style="font-weight: bold">Number of guests:</span>
                                    </div>
                                    <div class="text-grey last-modified-date col-lg-8">
                                        <span>{{property.quantity}}</span>
                                    </div>
                                </div>
                                <div class="row row-table space-top-1">
                                    <div class="text-grey col-lg-4 col-md-4">
                                        <span style="font-weight: bold">Price:</span>
                                    </div>
                                    <div class="text-grey last-modified-date col-lg-8">
                                        <span>$ {{property.price}}</span>
                                    </div>
                                </div>
                                <div class="row row-table space-top-1">
                                    <div class="col-sm-10 col-md-5 col-lg-5 text-grey space-top-1 last-modified-date">
                                        <span style="font-weight: bold">From:</span> <span>{{property.fromdate.split("T")[0]}}</span>
                                    </div>
                                    <div class="col-sm-10 col-md-5 col-lg-5 text-grey space-top-1 last-modified-date">
                                        <span style="font-weight: bold">To: </span><span>{{property.todate.split("T")[0]}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--<script>-->
                <!--function initMap() {-->
                    <!--var uluru = {lat: -25.363, lng: 131.044};-->
                    <!--var map = new google.maps.Map(document.getElementById('map'), {-->
                        <!--zoom: 4,-->
                        <!--center: uluru-->
                    <!--});-->
                    <!--var marker = new google.maps.Marker({-->
                        <!--position: uluru,-->
                        <!--map: map-->
                    <!--});-->
                <!--}-->

            <!--</script>-->
            <!--<script async defer-->
                    <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK3e0M46Nzcp8hOuvA7sOHSGc1tQsYrfU&callback=initMap">-->
            <!--</script>-->
        </div>
    </div>

<!--</body>-->
<!--</html>-->