<div ng-controller="hostController">
    <div class="slash-host-container">
        <div class="header">
            <div class="header__photo">
            </div>
            <div class="page-container-responsive header-card">
                <div class="col-sm-12 col-md-6 col-lg-5 space-md-8 space-md-top-8 text-contrast bg-babu">
                    <div class="row space-top-8 space-8">
                        <div class="col-sm-offset-1 col-sm-10 col-lg-9 col-left">
                            <h1 class="header-card__title">
                                <strong>Earn money as an Airbnb host</strong>
                            </h1>
                            <p class="header-card__body space-top-4 space-4">From saving for home repairs to taking a dream trip, hosts use extra income to fund their passions.</p>
                            <a ui-sref="become-a-host" href="#" class="header-card__button btn btn-primary btn-large" id="header-sign-up-button">
                                <span>Start Hosting</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="earning-estimation-container">
            <div class="page-container-responsive">
                <div class="earning-estimation">
                    <div class="h2 space-4">
                        <strong>
                            <span>
                                <span>What you could earn in </span>
                                <span class="text-babu">
                                    South Bay, CA
                                </span>
                            </span>
                        </strong>
                    </div>
                    <div class="row earning-estimation__body">
                        <div class="col-md-3 space-sm-4">
                            <div class="room-type-selections">
                                <div class="earning-estimation__room-type">
                                    <input checked="" data-room-type="entire_home_apt" type="radio" />
                                    <span data-room-type="entire_home_apt">Entire place</span>
                                </div>
                                <div class="earning-estimation__room-type">
                                    <input data-room-type="private_room" type="radio" />
                                    <span data-room-type="private_room">Private room</span>
                                </div>
                                <div class="earning-estimation__room-type">
                                    <input data-room-type="shared_room" type="radio" />
                                    <span data-room-type="shared_room">Shared room</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 space-sm-4">
                            <div class="space-3 earning-estimation__location-input">
                                <div>
                                    <input value="" placeholder="e.g. San Francisco" class="geocomplete" autocomplete="off" type="text" />
                                </div>
                            </div>
                            <div class="select select-block earning-estimation__accommodation">
                                <select>
                                    <option selected="" value="1">1 Guest</option>
                                    <option value="2">2 Guests</option>
                                    <option value="3">3 Guests</option>
                                    <option value="4">4 Guests</option>
                                    <option value="5">5 Guests</option>
                                    <option value="6">6 Guests</option>
                                    <option value="7">7 Guests</option>
                                    <option value="8">8 Guests</option>
                                    <option value="9">9 Guests</option>
                                    <option value="10">10 Guests</option>
                                    <option value="11">11 Guests</option>
                                    <option value="12">12 Guests</option>
                                    <option value="13">13 Guests</option>
                                    <option value="14">14 Guests</option>
                                    <option value="15">15 Guests</option>
                                    <option value="16">16+ Guests</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="va-container va-container-h va-container-v text-center earning-estimation__card">
                                <div class="va-middle">
                                    <div class="earning-estimation__amount h2">
                                        <strong>$506</strong>
                                    </div>
                                    <div>
                                        <span>weekly average</span>
                                        <span class="earning-estimation__tooltip" href="#" aria-label="Estimate based on booking prices of listings with a similiar location, season, listing type, and guest capacity. How much you actually make may vary with your pricing, type and location of your listing, season, demand, and other factors.">
                                            <i class="icon icon-question-alt icon-white"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-top-6">
            <div class="page-container-responsive">
                <div class="text-branding text-center h4 how-hosting-works__title text-muted">
                    <span>How Hosting Works</span>
                </div>
                <div class="how-hosting-works__section space-top-6">
                    <div>
                        <span class="how-hosting-works__section-label">1</span>
                    </div>
                    <h2>
                        <strong>Sign up to host</strong>
                    </h2>
                    <div class="how-hosting-works__section-sub-title">
                        Start by creating your listing. It’s like a profile page for your place.
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div>
                                <i class="icon icon-home icon-size-2 text-babu space-top-4 info-item__icon">

                                </i>
                                <div class="info-item__title space-2 space-top-2">What’s in a listing?</div>
                                <div class="info-item__body">You’ll fill out a description, take and upload photos, and pick a price. Your listing helps
                                    guests get a sense of what your place is like.</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div>
                                <i class="icon icon-group icon-size-2 text-babu space-top-4 info-item__icon"></i>
                                <div class="info-item__title space-2 space-top-2">Who can book
                                </div>
                                <div class="info-item__body">You set the availability and house rules for your listing. Host controls and calendar settings
                                    can help make hosting easier.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div>
                                <i class="icon icon-handshake icon-size-2 text-babu space-top-4 info-item__icon">

                                </i>
                                <div class="info-item__title space-2 space-top-2">We’re here to help
                                </div>
                                <div class="info-item__body">From getting your home ready and choosing a price, to understanding your responsibilities
                                    under local laws — we’ve got tools and resources for you.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="how-hosting-works__section space-top-6">
                    <div>
                        <span class="how-hosting-works__section-label">2</span>
                    </div>
                    <h2>
                        <span>Guests find your listing and book</span>
                    </h2>
                    <div class="how-hosting-works__section-sub-title">
                        You’ll get a reservation confirmation and a message from your guest.
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div>
                                <i class="icon icon-comment icon-size-2 text-babu space-top-4 info-item__icon">

                                </i>
                                <div class="info-item__title space-2 space-top-2">Message your guests</div>
                                <div class="info-item__body">Messaging online and via the app helps you get to know guests and answer any questions.</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div>
                                <i class="icon icon-suitcase icon-size-2 text-babu space-top-4 info-item__icon"></i>
                                <div class="info-item__title space-2 space-top-2">Plan for check-in</div>
                                <div class="info-item__body">Some hosts meet guests in person to hand over a key, others provide a door code. You choose
                                    what works for you.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="how-hosting-works__section space-top-6">
                    <div>
                        <span class="how-hosting-works__section-label">3</span>
                    </div>
                    <h2>
                        <strong>Welcome your guests</strong>
                    </h2>
                    <div class="how-hosting-works__section-sub-title">
                        Some hosts offer breakfast, others are more hands-off. How you host is up to you.
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div>
                                <i class="icon icon-essentials icon-size-2 text-babu space-top-4 info-item__icon"></i>
                                <div class="info-item__title space-2 space-top-2">Start with the basics</div>
                                <div class="info-item__body">Most hosts clean all the spaces a guest can use, and provide essentials like clean sheets,
                                    towels, and toilet paper.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div>
                                <i class="icon icon-id-card-back icon-size-2 text-babu space-top-4 info-item__icon">

                                </i>
                                <div class="info-item__title space-2 space-top-2">How guests pay</div>
                                <div class="info-item__body">Airbnb handles all of the payments—you never have to deal directly with money. Guests get
                                    charged before they arrive.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div>
                                <i class="icon icon-money-deposit icon-size-2 text-babu space-top-4 info-item__icon"></i>
                                <div class="info-item__title space-2 space-top-2">How you get paid</div>
                                <div class="info-item__body">Some of the ways you can choose to get paid include Paypal, direct deposit, and international
                                    money wire. Your payment is automatically sent 24 hours after your guest checks in. Easy.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container-responsive space-top-6 space-8">
            <div class="trust-and-guarantee">
                <h2>
                    <strong>We’ve got your back</strong>
                </h2>
                <div class="text-normal trust-and-guarantee__sub-title">
                    Airbnb plans ahead to protect you and your home.
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div>
                            <i class="icon icon-host-guarantee icon-size-2 text-babu space-top-4 info-item__icon"></i>
                            <div class="info-item__title space-2 space-top-2">$1,000,000 Host Guarantee</div>
                            <div class="info-item__body">The Host Guarantee protects your home and your stuff from accidental damage. Every host with
                                a listing on Airbnb is eligible for coverage at no additional cost. You don’t have to do
                                anything to sign up.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div>
                            <i class="icon icon-home-safety icon-size-2 text-babu space-top-4 info-item__icon"></i>
                            <div class="info-item__title space-2 space-top-2">Host Protection Insurance</div>
                            <div class="info-item__body">Host Protection Insurance is designed to protect you from liability in case your guests get hurt
                                or cause property damage. It’s automatically included as part of your Airbnb account.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div>
                            <i class="icon icon-ok-alt icon-size-2 text-babu space-top-4 info-item__icon"></i>
                            <div class="info-item__title space-2 space-top-2">Airbnb is built on trust</div>
                            <div class="info-item__body">We require verified information from both hosts and guests, including phone numbers. After a
                                trip, everyone gets a chance to write a review. Reviews keep guests accountable for treating
                                hosts and their homes with respect.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div>
                            <i class="icon icon-lifesaver icon-size-2 text-babu space-top-4 info-item__icon"></i>
                            <div class="info-item__title space-2 space-top-2">So much more than money</div>
                            <div class="info-item__body">Besides the extra income, hosts join a supportive worldwide community. There are always opportunities
                                to learn from Airbnb and other hosts.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container-responsive footer space-8 space-top-8">
            <div class="row space-top-8">
                <div class="col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-lg-5 col-md-7 col-sm-10">
                    <div class="h1 text-white">
                        <strong>Get ready to meet your guests</strong>
                    </div>
                    <a ui-sref="become-a-host" href="#" class="footer__button btn btn-primary btn-large space-top-6" id="footer-sign-up-button">
                        <span>Start Hosting</span>
                    </a>
                </div>
            </div>
            <div class="hand-key-image"></div>
        </div>
    </div>
</div>